<body class="flex flex-col 
md:items-center">
    <div class="text-center mt-14 mb-5">
        LOGO
    </div>
    <div class="text-center">
        <p 
        class="text-3xl text-center my-5
        md:text-4xl md:my-10 text-green-500">
        School Communication
        </p>
    </div>
    <div class="flex flex-col border-2 border-black-500 items-center h-60
    md:h-72 md:w-[600px] md:rounded-lg md:bg-white-200">
        <%= link_to "Student", student_login_path,
        class: "text-lg font-bold border-2 w-36 h-10 text-center mt-8 text-green-500 shadow
        md:mt-14 hover:bg-slate-100"%>
        <%= link_to "Teacher", teacher_login_path, 
        class: "text-lg font-bold border-2 w-36 h-10 text-center mt-5 text-green-500 shadow
        hover:bg-slate-100"%>
        <%= link_to "Admin", admin_login_path,
        class: "text-lg font-bold border-2 w-36 h-10 text-center mt-5 text-green-500 shadow
        hover:bg-slate-100"%>
    </div>
</body>