<body class="flex flex-col items-center font-serif">
    <div class="text-center mt-24 mb-14 w-36
    md:w-40 md:mt-14">
        <%= image_tag('logo.png', alt: 'logo') %>
    </div>
    <div class="text-center">
        <p 
        class="text-3xl text-center mb-10
        md:text-4xl text-red-500">
        Gen. Tinio National High School
        </p>
    </div>
    <div class="flex flex-col items-center h-60
    md:h-72 md:w-[600px] md:rounded-lg md:bg-white-200 md:border-red-500  md:border-2">
        <form action="<%= admin_log_path%>" method="POST">
            <h1 class="text-xl text-red-500 font-bold my-5 text-center
            ">
            Admin Login
            </h1>

            <label for="email"
            class="text-red-500
            "> 
            Email:
            </label>
            <br>
            <input type="text" type="email" name="email" id="email" 
            class="shadow rounded-lg focus:border-none focus:outline-none focus:ring focus:ring-red-500
            " 
            required>
            <br>

            <label for="email"
            class="text-red-500
            "> 
            Password:
            </label>
            <br>
            <input type="password" type="password" name="password" id="password" 
            class="shadow rounded-lg focus:border-none focus:outline-none focus:ring focus:ring-red-500
            " 
            required>
            <br>
            <div class="flex justify-between">

            <%= link_to "Back", landing_path,
            class: "border-red-500 border shadow rounded-md px-6 py-1 mt-4 text-center hover:dark:bg-red-200 transition duration-500 hover:animate-pulse
            "%> 


            <input type="submit" value="Login" 
            class="border-red-500 border shadow rounded-md px-5 mt-4 py-1 hover:cursor-pointer hover:dark:bg-red-200 transition duration-500 hover:animate-pulse
            ">

            <!-- CSRF token -->
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <!-- Add a hidden field for account type -->
            <input type="hidden" name="account_type" value="admin">
            
            </div>
        </form>
    </div>
</body>
